# Default ignored files
/../../../:webmusic/.idea/shelf/
/../../../:webmusic/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:webmusic/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:webmusic/.idea/dataSources/
/../../../:webmusic/.idea/dataSources.local.xml
